{% extends "base.html" %}

{% block title %}Home{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-md-4 bg-danger-subtle">
        1
    </div>

    <div class="col-md-4 bg-dark" style="overflow-y: auto; height: 100vh;">
        <div class="bg-secondary-subtle ps-3 pt-3 pb-2 pt-4 mt-3 rounded">
            <form action="." method="POST">
                {% csrf_token %}

                <div class="d-flex">
                    <div class="me-3">
                        <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle border" style="height: 50px; width: 50px;">
                    </div>
                    <div class="me-3">
                        {{ create_post_form.as_p }}
                    </div>
                    <div>
                        <button class="btn btn-primary btn-lg" name="create_post">Post</button>
                    </div>
                </div>
            </form>
        </div>


        {% for post in post_list %}
            <div class="p-3 mt-3 bg-secondary-subtle rounded">
                <div class="d-flex">
                    <div class="me-3">
                        <img src="{{ post.author.profile.image.url }}" alt="" class="rounded-circle border" style="height: 50px; width: 50px;">    
                    </div>
                    <div>
                        <h6 class="fw-bold">{{ post.author.username }}</h6>
                        <p>{{ post.created_at }}</p>
                    </div> 
                </div>

                <div>
                    <p>{{ post.content }}</p>
                </div>
                <hr>
                <div class="btn-group d-flex justify-content-between">
                    <button class="col-4 btn btn-outline-light text-dark" type="button">
                        <i class="bi bi-emoji-smile me-2"></i>React
                    </button>

                    <button class="col-4 btn btn-outline-light text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-{{ post.id }}" aria-controls="offcanvasExample">
                        <i class="bi bi-chat me-2"></i>Comment
                    </button>

                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">

                        <div class="offcanvas offcanvas-start rounded" tabindex="-1" id="offcanvas-{{ post.id }}" aria-labelledby="offcanvasExampleLabel" style="position: fixed;
                                                                                                                                                top: 50%;
                                                                                                                                                left: 50%;
                                                                                                                                                transform: translate(-50%, -50%);
                                                                                                                                                width: 60%; /* Adjust the width as needed */
                                                                                                                                                max-width: 600px;
                                                                                                                                                height: auto;
                                                                                                                                                max-height: 700px">
                            <div class="offcanvas-header position-relative">
                            <h5 class="offcanvas-title position-absolute start-50 translate-middle-x" id="offcanvasExampleLabel">{{ post.author.username|capfirst }}'s Post</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <hr>
                            <div class="offcanvas-body" style="p-0">
                                <div class="d-flex">
                                    <div class="me-3">
                                        <img src="{{ post.author.profile.image.url }}" alt="" class="rounded-circle border" style="height: 50px; width: 50px;">    
                                    </div>
                                    <div>
                                        <h6 class="fw-bold">{{ post.author.username }}</h6>
                                        <p>{{ post.created_at }}</p>
                                    </div> 
                                </div>
                                <div>
                                    <p>{{ post.content }}</p>    
                                </div>
                                <hr>
                                <div class="btn-group d-flex justify-content-between">
                                    <button class="btn btn-outline-light btn-sm text-dark"><i class="bi bi-emoji-smile me-2"></i>React</button>
                                    <button class="btn btn-outline-light btn-sm text-dark"><i class="bi bi-chat me-2"></i>Comment</button>
                                    <button class="btn btn-outline-light btn-sm text-dark"><i class="bi bi-share me-2"></i>Share</button>
                                </div>
                                <hr>

                                {% comment %} Display all comments in a post {% endcomment %}
                                {% for comment in post.comments.all %}
                                    <div class="d-flex mb-2">
                                        <div class="me-3">
                                            <img src="{{ comment.user.profile.image.url }}" alt="" class="rounded-circle border" style="height: 50px; width: 50px;">    
                                        </div>
                                        <div class="bg-secondary-subtle ps-3 pt-3 pe-3 rounded">
                                            <h6 class="fw-bold">{{ comment.user.username }}</h6>
                                            <p>{{ comment.content }}</p>
                                        </div> 
                                    </div>
                                {% endfor %}

                                {% comment %} Comment Input {% endcomment %}
                                <form action="." method="POST">
                                    {% csrf_token %}
                                    <hr>
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle border" style="height: 40px; width: 40px;">
                                        </div>
                                        <div class="me-1">
                                            <input type="hidden" name="post_id" value={{ post.id }}>
                                            {{ create_comment_form.as_p }}
                                        </div>
                                        <div>
                                            <button class="btn" name="create_comment"><i class="bi bi-send-fill"></i></button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </form>  

                    <button class="col-4 btn btn-outline-light text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{ post.id }}" aria-controls="offcanvasExample">
                        <i class="bi bi-share me-2"></i>Share
                    </button>
                </div>

                    {% comment %} <div class="collapse" id="{{ post.id }}">
                        <hr>
                        <form action="." method="POST">
                            {% csrf_token %}

                            <div class="d-flex">
                                <div class="me-2">
                                    <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle border" style="height: 40px; width: 40px;">
                                </div>
                                <div class="me-1">
                                    <input type="hidden" name="post_id" value={{ post.id }}>
                                    {{ create_comment_form.as_p }}
                                </div>
                                <div>
                                    <button class="btn" name="create_comment"><i class="bi bi-send-fill"></i></button>
                                </div>
                            </div>
                        </form>
                    </div> {% endcomment %}
            </div> 
        {% endfor %}
    </div>

    <div class="col-md-4 bg-warning-subtle">
        3
    </div>
</div>
    
{% endblock  %}